{% extends 'core/base/base.html' %}
{% load static %}
{% load card_wonder %}

{% block title %}WONDER{% endblock title %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/prestador/home_prestador.css' %}">
<link rel="stylesheet" href="{% static 'css/components/card_wonder.css' %}">
{% endblock extra_css %}

{% block header_extra %}
<a href="{% url 'login' %}" class="header-logout-button">
    <img src="{% static 'img/icones/icon_geral/logout.svg' %}" alt="Sair">
    <span>Sair</span>
</a>
{% endblock header_extra %}

{% block content %}
<div class="prestador-layout-container">

    <main class="main-prestador">
        
        <div class="nav-tabs-container">
            <a href="{% url 'prestador-home' %}"><button class="option-tab inactive left">Em Aberto</button></a>
            <button class="option-tab active right">Finalizados</button>
        </div>

        <div class="block-text-tag">
            <div class="filtro-data">
                <img src="{% static 'img/icones/icon_roxo/calendario_roxo.svg' %}" alt="Calendário">
                <span>08/10/2025</span>
            </div>
            <a href="{% url 'prestador-cancelados' %}" class="filtro-cancelados inactive">
                <span>Ver Cancelados</span>
                <img src="{% static 'img/icones/icon_roxo/close.svg' %}" alt="close">
            </a>
        </div>

        <div class="results-list">
            
            {% card_wonder title="Corte de Cabelo Mas." img_url="img/clientes/thiago_cliente.svg" subtitle="Thiago Henrique" btn_text_conclude="Concluído" %}

        </div>
    
    </main>

    <nav class="app-navbar prestador-navbar">
        <a href="{% url 'prestador-home' %}" class="nav-item active">
            <img src="{% static 'img/icones/icon_roxo/calendario_roxo.svg' %}" alt="Agendamentos" class="nav-icon">
            <span class="nav-label">Agendamentos</span>
        </a>
        <a href="{% url 'prestador-perfil' %}" class="nav-item">
            <img src="{% static 'img/icones/icon_footer/user.svg' %}" alt="Perfil" class="nav-icon">
            <span class="nav-label">Perfil</span>
        </a>
    </nav>
    
</div>
{% endblock %}