{% extends 'core/base/base_auth.html' %}

{% load static %}


{% block title %}Perfil do Prestador | WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home_prestador.css' %}">
<link rel="stylesheet" href="{% static 'css/perfil_prestador.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="prestador-layout-container">

    <header class="app-header prestador-header">
        <span class="header-saudacao">Olá, Diego</span>
        <a href="{% url 'login' %}" class="header-logout-button">
            <img src="{% static 'img/profile/logout.svg' %}" alt="Sair">
            <span>Sair</span>
        </a>
    </header>

    <main class="main-content">
        
        <section class="profile-header">
            <img class="profile-pic" src="{% static 'img/perfil_prestador.svg' %}" alt="Foto do Perfil">
            <div class="stats-box">
                <div class="stat-item">
                    <span>Avaliação:</span>
                    <div class="stars">
                        <span>★</span><span>★</span><span>★</span><span>★</span><span class="star-empty">★</span>
                        <span class="stat-count">(11)</span>
                    </div>
                </div>
                <div class="stat-item">
                    <span>Serviços:</span>
                    <span class="stat-count">11</span>
                </div>
            </div>
        </section>

        <section class="info-section">
            <ul class="info-list">
                
                <li class="info-item">
                    <div class="info-label">
                        <img src="{% static 'img/bxs_user-circle.svg' %}" alt="Ícone Estabelecimento"> 
                        <span>Nome do Estabelecimento</span>
                    </div>
                    <span class="info-value">Diego BarberShop</span>
                </li>
                <li class="info-item">
                    <div class="info-label">
                        <img src="{% static 'img/User.svg' %}" alt="Ícone Documento"> 
                        <span>CPF/CNPJ</span>
                    </div>
                    <span class="info-value">62.173.620/0001-80</span>
                </li>
                <li class="info-item">
                    <div class="info-label">
                        <img src="{% static 'img/email-roxo.svg' %}" alt="Ícone Email"> 
                        <span>Email</span>
                    </div>
                    <span class="info-value">DiegoBarber@gmail.com</span>
                </li>
                <li class="info-item">
                    <div class="info-label">
                        <img src="{% static 'img/telefone-roxo.svg' %}" alt="Ícone Telefone"> 
                        <span>Telefone</span>
                    </div>
                    <span class="info-value">(84) 99485-9785</span>
                </li>
                <li class="info-item">
                    <div class="info-label">
                        <img src="{% static 'img/time.svg' %}" alt="Ícone Horário"> 
                        <span>Horário de Funcionamento</span>
                    </div>
                    <span class="info-value">SEG - SÁB / 8h - 12h</span>
                </li>
                
            </ul>
            <a href="#" class="edit-profile-link">
                <img src="{% static 'img/editar_azul.svg' %}" alt="Editar Perfil">
                <span>Editar perfil</span>
            </a>
        </section>

        <section class="service-section">
            <div class="service-header">
                <span class="service-title">Serviços Cadastrados:</span>
                <a href="#" class="service-add-link">
                    <span>Cadastrar Serviço</span>
                    <img src="{% static 'img/icon_plus_black.svg' %}" alt="Adicionar Serviço"> 
                </a>
            </div>
            
            <div class="service-list">

                <article class="service-card">
                    <img class="service-img" src="{% static 'img/cabelo-servicos.svg' %}" alt="Imagem do Serviço">
                    <div class="service-info">
                        <span class="service-name">Corte de Cabelo Masc.</span>
                        <span class="service-details">Tempo de duração: 1h | R$ 25,00</span>
                    </div>
                    <a href="#" class="service-edit-btn">
                        <img src="{% static 'img/editar_cinza.svg' %}" alt="Editar">
                    </a>
                </article>

            </div>
        </section>

    </main>

    <nav class="app-navbar prestador-navbar">
        <a href="{% url 'prestador-home' %}" class="nav-item">
            <img src="{% static 'img/footer-icon/calendar.svg' %}" alt="Agendamentos" class="nav-icon">
            <span class="nav-label">Agendamentos</span>
        </a>
        <a href="{% url 'prestador-perfil' %}" class="nav-item active">
            <img src="{% static 'img/footer-icon/user.svg' %}" alt="Perfil" class="nav-icon">
            <span class="nav-label">Perfil</span>
        </a>
    </nav>
    
</div>
{% endblock %}