{% load static %}
<div class="result-card-wonder">
    <div class="card-wonder-details">
        {% if img_url %}
        <img src="{% static img_url %}" alt="Imagem">
        {% endif %}
        <div class="card-wonder-info">
            <h3 class="card-title">{{ title }}</h3>
            <div class="card-wonder-meta card-wonder-meta-info">
                {% if subtitle %}<span class="card-wonder-subtitle">{{ subtitle }}</span>{% endif %}
                {% if time_value %}<span class="time-value-card-wonder">Horário: {{ time_value }}</span>{% endif %}
            </div>
        </div>
    </div>

    {% if day_text or btn_text_conclude %}
        <div class="card-wonder-status-day card-wonder-color-{{ color_status }}">
            {% if day_text %}<p>{{ day_text }}</p>{% endif %}
            {% if btn_text_conclude %}
                <button class="card-wonder-btn card-wonder-btn-bg-color-{{ btn_color_conclude }}">{{ btn_text_conclude }}</button>
            {% endif %}
        </div>
    {% endif %}
</div>