.home-content {
    padding: 0 1rem;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

/* TABS DE NAVEGAÇÃO (SOBRE / HORÁRIOS) */

.block-text-tag {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-size: 0.9rem;
    flex-wrap: wrap;
    gap: 0.8rem;
    padding: 0.8rem 0;
}

.text-tag {
    font-weight: 600;
    color: #430b7a;
}

.text-tag-category {
    color: #fff;
}

.nova-categoria-button {
    display: flex;
    background-color: #430b7a;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    gap: 0.5rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
    display: none;
}

.nova-categoria-button:hover {
    background-color: #430b7a;
}

.nova-categoria-button:active {
    background-color: #5D14A6;
    transform: translateY(1px);
}

.nova-categoria-button img {
    width: 0.8rem;
}


.nav-tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-tab {
    display: flex;
    width: 10rem;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    padding: 12px 35px;
    height: 50px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 4px 8px rgba(128, 0, 255, 0.2);
    border-radius: 0.3rem;
}

.option-tab.active {
    background-color: #430b7a;
    color: #ffffff;
    border: 1px solid #b4b4b433;
}

.option-tab.inactive {
    background-color: #ffffff;
    color: #430b7a;
    border: 1px solid #00000033;
    border-left: none;
}

.option-tab.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.option-tab.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* CARDS DE RESULTADO */

.results-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 1rem;
}

.result-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #F9F9F9;
    border-radius: 0.3125rem;
    min-height: 4.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.result-card:hover {
    background-color: #efefef;
}

.card-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.card-meta {
    display: flex;
    font-size: 0.75rem;
    color: #8000ff9a;
    flex-direction: column;
}

.time-value {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #5f5a5a;
    font-size: 0.75rem;
}

.card-status {
    padding: 0.5rem 0.25rem;
}

.block-day-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.block-day-btn .day-text {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #158e19;
    font-size: 0.8rem;
    white-space: nowrap;
}

.botao-cancelar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-cancelar:hover {
    background-color: #c82333;
}

.botao-cancelar:active {
    background-color: #bd2130;
    transform: translateY(1px);
}

.botao-avaliar {
    background-color: #46c20d;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-avaliar:hover {
    background-color: #3ca10d;
}

.botao-avaliar:active {
    background-color: #5fda26;
    transform: translateY(1px);
}

/* RESPONSIVIDADE (WEB / DESKTOP) */

@media (min-width: 30rem){
    .option-tab {
        width: 15.625rem;
    }
}

@media (min-width: 48rem) {

    .main-content {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }

    .nova-categoria-button {
        display: flex;
    }

    .text-tag {
        font-size: 1rem;
    }

    .text-tag-category {
        font-size: 0.9rem;
    }

    .nav-tabs-container {
        display: none;
    }

    .option-tab {
        width: 25rem;
    }

    .option-tab {
        min-width: 300px;
    }
}