.icon-sm {
    width: 1.25rem;
    height: 1.25rem;
}
.icon-lg {
    width: 1.5rem;
    height: 1.5rem;
    color: #505050;
}

/* --- Layout Geral --- */
.search-page-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 2rem;
}

/* --- Barra de Busca --- */
.search-bar-wrapper {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.search-input-group {
    display: flex;
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 12px;
    padding: 0.8rem 1rem;
    transition: box-shadow 0.2s ease;
}

/* --- Efeito --- */
.search-input-group:focus-within {
    background-color: #fff;
    box-shadow: 0 0 0 2px #8000ff; 
}

.search-btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
}

.search-input {
    border: none;
    background: transparent;
    width: 100%;
    font-size: 1rem;
    color: #333;
    outline: none; 
    font-family: 'Poppins', sans-serif;
}

/* --- Categorias --- */
.categories {
    margin-top: 1rem;
}

.section-title {
    font-size: 1rem;
    font-weight: 700;
    color: #430b7a;
    margin-bottom: 1rem;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

/* --- Card --- */
.category-card {
    position: relative;
    display: block; 
    border-radius: 16px;
    overflow: hidden; 
    aspect-ratio: 16 / 9; 
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    background-color: #fff;
}

.category-card:hover {
    transform: scale(1.02);
}

.category-card:active {
    transform: scale(0.98);
}

/* ESTILO PARA CATEGORIAS VAZIAS */
.category-empty {
    opacity: 0.5;
    filter: grayscale(80%);
}

/* --- Imagem --- */
.card-image {
    width: 100%;
    height: 100%;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.4s ease; 
}


.category-card:hover .card-image img {
    transform: scale(1.1);
}


.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 50%);
    display: flex;
    align-items: flex-end; 
    padding: 12px;
}

.category-name {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    text-shadow: 0 2px 4px rgba(0,0,0,0.6); 
    font-family: 'Poppins', sans-serif;
}

/* --- Lista de Resultados (Cards de Prestador) --- */
.search-results-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
}

@media (min-width: 600px) {
    .categories-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 900px) {
    .categories-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}