{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}WONDER{% endblock %}</title>

   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Poppins:wght@400;600&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>

