{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opção de Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/opcao-cadastro.css' %}">
</head>
<body>
    <section class="opcao-cadastro-content">
        <div class="opcao-cadastro-wrapper">
            <h1 class="opcao-cadastro-title">Olá, você deseja se cadastrar como...</h1>

            <div class="opcao-cadastro-buttons">
                <a href="" class="opcao-cadastro-button">Cliente</a>
                <a href="" class="opcao-cadastro-button">Prestador de serviço</a>
            </div>

            <img src="{% static 'img/logo-wonder-white.svg' %}" alt="Logo Wonder em branco">
        </div>
    </section>
</body>
</html>
