{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfil do Usuário{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil-usuario.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="profile-page-content">
  
  <div class="profile-card">
    
    <header class="profile-header">
      <img class="profile-avatar" src="{% static 'img/profile/gustavo.svg' %}" alt="Foto de perfil">
      <a href="#" class="edit-profile-link">
        <img src="{% static 'img/profile/pencil.svg' %}" alt="">
        <span>Editar perfil</span>
      </a>
    </header>

    <section class="user-info-list">
      
      <div class="info-item">
        <div class="info-label-group">
          <img class="info-icon" src="{% static 'img/profile/user-circle.svg' %}" alt="">
          <span class="info-label">Nome</span>
        </div>
        <span class="info-value">Gustavo Emanuel</span>
      </div>
      
      <div class="info-item">
        <div class="info-label-group">
          <img class="info-icon" src="{% static 'img/profile/mail.svg' %}" alt="">
          <span class="info-label">Email</span>
        </div>
        <span class="info-value">gustavinho@gmail.com</span>
      </div>

      <div class="info-item">
        <div class="info-label-group">
          <img class="info-icon" src="{% static 'img/profile/phone.svg' %}" alt="">
          <span class="info-label">Telefone</span>
        </div>
        <span class="info-value">(84) 99485-9785</span>
      </div>

    </section>

    <a href="{% url 'login' %}" class="logout-button">
      <img src="{% static 'img/profile/logout.svg' %}" alt="">
      <span>Sair</span>
    </a>
    
  </div>
</main>
{% endblock content %}