{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Detalhe | WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cliente/agendados.css' %}">
{% endblock extra_css %}


{% block content %}

<section class="home-content">
    <div class="nav-tabs-container">
        <button class="option-tab active">AGENDADOS</button>
        <a href="{% url 'cliente-agendamentos--finalizados' %}"><button class="option-tab inactive">FINALIZADOS</button></a>
    </div>

    <div class="results-list">
        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/logo/Diego-BarberShop.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">Diego BarberShop</h2>
                    <div class="card-meta">
                        <span>Cabelo e Barba</span>
                        <span class="time-value">Horário: 14:00</span>
                    </div>
                </div>
            </div>
            <div class="block-day-btn">
                <p class="day-text">Segunda-Feira</p>
                <button class="botao-cancelar">Cancelar</button>
            </div>
        </article>

        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/logo/RD-Cabelos.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">RD Cabelos</h2>
                    <div class="card-meta">
                        <span>Sobrancelha</span>
                        <span class="time-value">Horário: 16:00</span>
                    </div>
                </div>
            </div>
            <div class="block-day-btn">
                <p class="day-text">Terça-Feira</p>
                <button class="botao-cancelar">Cancelar</button>
            </div>
        </article>

    </div>
</section>

{% endblock content %}