{% extends 'core/base/base.html' %}
{% load static %}
{% load card_wonder %}
{% block title %}WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cliente/agendados.css' %}">
<link rel="stylesheet" href="{% static 'css/components/card_wonder.css' %}">
{% endblock extra_css %}


{% block content %}

<section class="home-content">
    <div class="nav-tabs-container">
        <button class="option-tab active left">Agendados</button>
        <a href="{% url 'cliente-agendamentos--finalizados' %}"><button class="option-tab inactive right">Finalizados</button></a>
    </div>

    <div class="block-text-tag">
        <span class="text-tag">Meus Agendamentos</span>
        <a href="{% url 'cliente-agendamentos--finalizados' %}" class="nova-categoria-button">
            <span class="text-tag-category">Histórico ></span>
        </a>
    </div>

    <div class="results-list" id="lista-agendamentos">
      {% for agendamento in agendamentos %}
          
          <div class="card-cancelar-wrapper" 
               data-id="{{ agendamento.id }}" 
               data-prestador="{{ agendamento.prestador.nome_estabelecimento }}">
               
             {% with hora_formatada=agendamento.data_hora_inicio|date:"H:i" dia_formatado=agendamento.data_hora_inicio|date:"l, d/m" %}
                 
                 {% if agendamento.prestador.usuario.foto_perfil %}
                     {% card_wonder title=agendamento.prestador.nome_estabelecimento img_url=agendamento.prestador.usuario.foto_perfil.url subtitle=agendamento.servico.nome time_value=hora_formatada day_text=dia_formatado btn_text_conclude="Cancelar" btn_color_conclude="red" %}
                 {% else %}
                     {% card_wonder title=agendamento.prestador.nome_estabelecimento img_url="img/icones/padrao_avatar.svg" subtitle=agendamento.servico.nome time_value=hora_formatada day_text=dia_formatado btn_text_conclude="Cancelar" btn_color_conclude="red" %}
                 {% endif %}

             {% endwith %}
          
          </div>

      {% empty %}
          <div style="text-align: center; margin-top: 3rem; color: #777;">
              <p>Você não tem agendamentos ativos.</p>
              <a href="{% url 'cliente-busca' %}" style="color: #430b7a; text-decoration: underline;">Buscar serviços</a>
          </div>
      {% endfor %}
    </div>

    <form id="form-cancelar-cliente" method="POST" style="display: none;">
        {% csrf_token %}
        <input type="hidden" name="motivo_cancelamento" value="Cancelado pelo cliente.">
    </form>

</section>
{% endblock content %}