{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Busca{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cliente/busca.css' %}">
{% endblock extra_css %}

{% block content %}
<section class="search-page-content">
    <div class="search-bar-wrapper">
        <div class="search-input-group"> 
            <img class="search" src="{% static 'img/icones/icon_roxo/search-barra.svg' %}" alt="Pesquisa">
            <input type="text" class="search-input" placeholder="Procurar por serviços ou estabelecimentos">
        </div>
    </div>
    
    <div class="categories">
        <div class="categories-grid">
            <img src="{%static 'img/categories/banner-barbearia.svg'%}" alt="barbearia" class="category-img">
            <img src="{%static 'img/categories/banner-barbearia.svg'%}" alt="barbearia" class="category-img">
            <img src="{%static 'img/categories/banner-barbearia.svg'%}" alt="barbearia" class="category-img">
            <img src="{%static 'img/categories/banner-barbearia.svg'%}" alt="barbearia" class="category-img">
            <img src="{%static 'img/categories/banner-barbearia.svg'%}" alt="barbearia" class="category-img">
            <img src="{%static 'img/categories/banner-barbearia.svg'%}" alt="barbearia" class="category-img">
        </div>
    </div>
</section>
{% endblock content %}