{% extends 'core/base/base.html' %}
{% load static %}

{% block title %}WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cliente/busca.css' %}?v=2">
{% endblock extra_css %}

{% block content %}
<section class="search-page-content">
    
    <div class="search-bar-wrapper">
        <form class="search-input-group" action="." method="GET">
            <button type="submit" class="search-btn">
                <img class="search-icon" src="{% static 'img/icones/icon_roxo/busca-barra(1).svg' %}" alt="Pesquisa">
            </button>
            <input type="text" name="q" class="search-input" placeholder="Procurar por serviços ou estabelecimentos">
        </form>
    </div>
    
    <div class="categories">
        <h2 class="section-title">Categorias Populares</h2>
        
        <div class="categories-grid">
            
            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-barbearia.svg' %}" alt="Barbearia">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Barbearia</span>
                </div>
            </a>

            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-cabelos.svg' %}" alt="Cabelo">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Cabelos</span>
                </div>
            </a>

            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-unhas.svg' %}" alt="Unhas">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Unhas</span>
                </div>
            </a>

            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-spa.svg' %}" alt="SPA">
                </div>
                <div class="card-overlay">
                    <span class="category-name">SPA</span>
                </div>
            </a>

             <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-depilacao.svg' %}" alt="Depilação">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Depilação</span>
                </div>
            </a>

            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-maquiagem.svg' %}" alt="Maquiagem">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Maquiagem</span>
                </div>
            </a>

            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-tatuagem.svg' %}" alt="Tatuagem">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Tatuagem</span>
                </div>
            </a>

            <a href="#" class="category-card">
                <div class="card-image">
                    <img src="{% static 'img/categories/card-bronzeamento.svg' %}" alt="Bronzeamento">
                </div>
                <div class="card-overlay">
                    <span class="category-name">Bronzeamento</span>
                </div>
            </a>
        </div>
    </div>
</section>
{% endblock content %}