{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}HORÁRIOS | WONDER{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cliente/estabelecimento_horarios.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="nav-tabs-container">
        <button class="option-tab inactive">SOBRE</button>
        <a href="#"><button class="option-tab active">HORÁRIOS DISPONÍVEIS</button></a>
    </div>


<form action="#" method="post">
    {% csrf_token %}

    <div class="time-slot-header">
        <h2 class="page-title">DISPONÍVEL HOJE</h2>
        <a href="#" class="calendar-link" aria-label="Selecionar outra data">
            <img src="{% static 'img/icones/icon_geral/calendar-icon.svg' %}" alt="Calendário">
        </a>
    </div>

    <div class="time-slot-list">
        
        <div class="time-slot-item">
            <input type="radio" id="time1" name="selected_time" value="10:00-10:30">
            <label for="time1" class="time-slot-button">
                10H - 10:30H
            </label>
        </div>

        <div class="time-slot-item">
            <input type="radio" id="time2" name="selected_time" value="14:00-15:30">
            <label for="time2" class="time-slot-button">
                14H - 15:30H
            </label>
        </div>

        <div class="time-slot-item">
            <input type="radio" id="time3" name="selected_time" value="17:00-17:30">
            <label for="time3" class="time-slot-button">
                17H - 17:30H
            </label>
        </div>

        </div>

    <div class="submit-wrapper">
        <button type="submit" class="submit-button">Confirmar Horário</button>
    </div>

</form>

{% endblock content %}
