{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Detalhe | WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/agendados.css' %}">
{% endblock extra_css %}


{% block content %}

<section class="home-content">
    <div class="nav-tabs-container">
        <a href="{% url 'cliente-agendamentos' %}"><button class="option-tab inactive">AGENDADOS</button></a>
        <button class="option-tab active">FINALIZADOS</button>
    </div>

    <div class="results-list">
        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/SPA-da-gi.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">SPA da Gi</h2>
                    <div class="card-meta">
                        <span>Massagem</span>
                        <span class="time-value">Horário: 07:00</span>
                    </div>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-avaliar">Avaliar</button>
            </div>
        </article>

        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/Diva-nails.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">Diva Nails</h2>
                    <div class="card-meta">
                        <span>Unhas das Mãos</span>
                        <span class="time-value">Horário: 09:00</span>
                    </div>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-avaliar">Avaliar</button>
            </div>
        </article>

    </div>
</section>

{% endblock content %}