{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}Detalhe | WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock extra_css %}

{% block content%}

<header class="app-header">
    <div class="header-logo">
        <a href="{% url 'admin-solicitacoes' %}"><span class="logo-name">Admin</span></a>
    </div>
    <a href="{% url 'login' %}" class="logout-button">
        <img src="{% static 'img/icones/icon_geral/logout.svg' %}" alt="">
        <span>Sair</span>
    </a>
</header>

<section class="home-content">
    <div class="nav-tabs-container">
        <a href="{% url 'admin-solicitacoes' %}"><button class="option-tab inactive">Solicitações</button></a>
        <a href="{% url 'admin-categorias' %}"><button class="option-tab active">Categorias</button></a>
    </div>

    <div class="block-text-tag">
        <span class="text-tag">Categorias</span>
        <a href="#" class="nova-categoria-button">
            <span class="text-tag-category">Nova categoria</span>
            <img src="{% static 'img/icones/icon_geral/add.svg' %}" alt="">
        </a>
    </div>

    <div class="results-list">
        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/categorias/servicos/cat-unha.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">Unha</h2>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-visualizar">Editar</button>
                <button class="botao-vermelho">Excluir</button>
            </div>
        </article>

        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/categorias/servicos/cat-cabeleireira.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">Cabeleireira</h2>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-visualizar">Editar</button>
                <button class="botao-vermelho">Excluir</button>
            </div>
        </article>

        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/categorias/servicos/cat-spa.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">SPA</h2>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-visualizar">Editar</button>
                <button class="botao-vermelho">Excluir</button>
            </div>
        </article>
    </div>

</section>

{% endblock content %}