{% extends 'core/base/base.html' %}
{% load static %}
{% block title %}WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin/admin.css' %}">
{% endblock extra_css %}

{% block header_extra %}
<a href="{% url 'login' %}" class="header-logout-button">
    <img src="{% static 'img/icones/icon_geral/logout.svg' %}" alt="Sair">
    <span>Sair</span>
</a>
{% endblock header_extra %}

{% block content %}

<section class="home-content">
    <div class="profile-card">

        <header class="profile-header">
            <img class="profile-avatar" src="{% static 'img/logo/Diego-BarberShop.svg' %}" alt="Foto de perfil">
        </header>

        <section class="user-info-list">

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/user(1).svg' %}" alt="">
                    <span class="info-label">Nome</span>
                </div>
                <span class="info-value">Diego Silva Costa</span>
            </div>

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/department.svg' %}" alt="">
                    <span class="info-label">Estabelecimento</span>
                </div>
                <span class="info-value">Diego Barber Shop</span>
            </div>

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/email.svg' %}" alt="">
                    <span class="info-label">Email</span>
                </div>
                <span class="info-value">Diegobarber@gmail.com</span>
            </div>

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/local.svg' %}" alt="">
                    <span class="info-label">Cidade de Atendimento</span>
                </div>
                <span class="info-value">Pau dos Ferros - RN</span>
            </div>

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/phone(1).svg' %}" alt="">
                    <span class="info-label">Telefone</span>
                </div>
                <span class="info-value">(84) 99485-9785</span>
            </div>

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/cpf.svg' %}" alt="">
                    <span class="info-label">CPF/CNPJ</span>
                </div>
                <span class="info-value">62.173.620/0001-80</span>
            </div>

            <div class="info-item">
                <div class="info-label-group">
                    <img class="info-icon" src="{% static 'img/icones/icon_roxo/time(2).svg' %}" alt="">
                    <span class="info-label">Horário de Funcionamento</span>
                </div>
                <span class="info-value">SEG - SÁB / 8h - 12h</span>
            </div>
        </section>

        <div class="block-btn">
            <a href="{% url 'admin-solicitacoes' %}">
                <button class="botao-recusar">Recusar</button>
                <button class="botao-aceitar">Aceitar</button>
            </a>
        </div>

</section>

{% endblock content %}