{% extends 'core/base.html' %}
{% load static %}
{% block title %}Detalhe | WONDER{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock extra_css %}

{% block content %}

<header class="app-header">
    <div class="header-logo">
        <a href="{% url 'solicitacoes' %}"><span class="logo-name">Admin</span></a>
    </div>
    <a href="{% url 'login' %}" class="logout-button">
      <img src="{% static 'img/profile/logout.svg' %}" alt="">
      <span>Sair</span>
    </a>
</header>

<section class="home-content">
    <div class="nav-tabs-container">
        <a href="{% url 'solicitacoes' %}"><button class="option-tab active">Solicitações</button></a>
        <a href="{% url 'categorias' %}"><button class="option-tab inactive">Categorias</button></a>
    </div>

    <span class="text-tag">Solicitações Pendentes</span>

    <div class="results-list">
        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/Diego-BarberShop.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">Diego BarberShop</h2>
                </div>
            </div>
            <div class="block-day-btn">
                <a href="{% url 'detalhes-solicitacoes' %}"><button class="botao-visualizar">Visualizar</button></a>
                <button class="botao-vermelho">Recusar</button>
            </div>
        </article>

        <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/RD-Cabelos.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">RD Cabelos</h2>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-visualizar">Visualizar</button>
                <button class="botao-vermelho">Recusar</button>
            </div>
        </article>

                <article class="result-card">
            <div class="card-details">
                <img src="{% static 'img/SPA-da-gi.svg' %}" alt="">
                <div class="card-info">
                    <h2 class="card-title">SPA da GI</h2>
                </div>
            </div>
            <div class="block-day-btn">
                <button class="botao-visualizar">Visualizar</button>
                <button class="botao-vermelho">Recusar</button>
            </div>
        </article>
    </div>

</section>

{% endblock content %}