{% extends 'core/base/base_auth.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth/cadastro.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="container-cadastro">
    <div class="logo">
        <img class="logo-icon" src="{% static 'img/icones/icon_roxo/lotus.svg' %}" alt="Logo Wonder">
        <h1 class="logo-name">WONDER</h1>
    </div>

    <form class="formulario-cadastro" method="POST">
        {% csrf_token %}

        <div class="grupo-input">
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <span class="mensagem-erro">{{ form.first_name.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="grupo-input">
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <span class="mensagem-erro">{{ form.last_name.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="grupo-input">
            {{ form.email }}
            {% if form.email.errors %}
                <span class="mensagem-erro">{{ form.email.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="grupo-input">
            {{ form.telefone }}
            {% if form.telefone.errors %}
                <span class="mensagem-erro">{{ form.telefone.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="grupo-input">
            {{ endereco_form.endereco }}
            {% if endereco_form.endereco.errors %}
                <span class="mensagem-erro">{{ endereco_form.endereco.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="grupo-input input-com-icone">
            {{ form.password1 }}
            <img src="{% static 'img/icones/icon_geral/ant-design_eye-invisible-outlined.svg' %}" class="icone-input">
        </div>
        {% if form.password1.errors %}
            <span class="mensagem-erro">{{ form.password1.errors.0 }}</span>
        {% endif %}

        <div class="grupo-input input-com-icone">
            {{ form.password2 }}
            <img src="{% static 'img/icones/icon_geral/ant-design_eye-invisible-outlined.svg' %}" class="icone-input">
        </div>
        {% if form.password2.errors %}
            <span class="mensagem-erro">{{ form.password2.errors.0 }}</span>
        {% endif %}

        <button type="submit" class="botao-cadastrar">Cadastrar</button>
    </form>
    
    <p class="link-login">Já tem conta? <a href="{% url 'login' %}">Login</a></p>
</main>
{% endblock %}