{% extends 'core/base/base_auth.html' %}
{% load static %}

{% block title %}Cadastro de Prestador{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth/cadastro_prestador.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="main-container-auth">
    <div class="container-cadastro-prestador">
    
        <div class="logo">
            <img class="logo-icon" src="{% static 'img/icones/icon_roxo/lotus.svg' %}" alt="Logo Wonder">
            <h1 class="logo-name">WONDER</h1>
        </div>
    
        <form class="formulario-cadastro-prestador" method="POST" novalidate>
            {% csrf_token %}

            <div class="grupo-input">
                {{ user_form.first_name }}
                {% for error in user_form.first_name.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                {{ user_form.last_name }}
                {% for error in user_form.last_name.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                {{ user_form.email }}
                {% for error in user_form.email.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                {{ user_form.telefone }}
                {% for error in user_form.telefone.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                {{ prestador_form.nome_estabelecimento }}
                {% for error in prestador_form.nome_estabelecimento.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                {{ prestador_form.cidade_atendimento }}
                {% for error in prestador_form.cidade_atendimento.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                {{ prestador_form.endereco }}
                {% for error in prestador_form.endereco.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input grupo-input-select">
                {{ prestador_form.tipo_documento }}
            </div>

            <div class="grupo-input">
                {{ prestador_form.documento }}
                {% for error in prestador_form.documento.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="grupo-input">
                
                <div class="categorias-wrapper">
                    <div class="categoria-trigger" id="categoryTrigger">
                        Selecione suas áreas de atuação
                    </div>
                    
                    <div class="categoria-dropdown" id="categoryDropdown">
                        <input type="text" class="categoria-search" id="categorySearch" placeholder="Pesquisar categoria...">

                        <div class="categoria-list" id="categoryList">
                            {{ prestador_form.categorias }}
                        </div>
                    </div>
                </div>

                {% for error in prestador_form.categorias.errors %}
                    <span class="mensagem-erro">{{ error }}</span>
                {% endfor %}
            </div>
    
            <div class="grupo-input input-com-icone">
                {{ user_form.password1 }}
                <img src="https://img.icons8.com/fluency-systems-regular/48/visible--v1.png" class="icone-input" onclick="togglePassword(this)" data-eye-open="https://img.icons8.com/fluency-systems-regular/48/visible--v1.png" data-eye-closed="https://img.icons8.com/fluency-systems-regular/48/invisible.png">
                {% for error in user_form.password1.errors %} <span class="mensagem-erro">{{ error }}</span> {% endfor %}
            </div>

            <div class="grupo-input input-com-icone">
                {{ user_form.password2 }}
                <img src="https://img.icons8.com/fluency-systems-regular/48/visible--v1.png" class="icone-input" onclick="togglePassword(this)" data-eye-open="https://img.icons8.com/fluency-systems-regular/48/visible--v1.png" data-eye-closed="https://img.icons8.com/fluency-systems-regular/48/invisible.png">
                {% for error in user_form.password2.errors %} <span class="mensagem-erro">{{ error }}</span> {% endfor %}
            </div>
    
            <button type="submit" class="botao-prosseguir">Prosseguir</button>
        </form>
        <p class="link-login">Já tem conta? <a href="{% url 'login' %}">Login</a></p>
    </div>
</main>

<script>
    function togglePassword(icon) {
        const input = icon.parentElement.querySelector('input');
        const eyeOpen = icon.getAttribute('data-eye-open');
        const eyeClosed = icon.getAttribute('data-eye-closed');
        if (input.type === "password") { input.type = "text"; icon.src = eyeClosed; icon.style.opacity = "1"; } 
        else { input.type = "password"; icon.src = eyeOpen; icon.style.opacity = "0.6"; }
    }
</script>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/auth_ux.js' %}"></script>
   
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if user_form.non_field_errors %} criarToast("{{ user_form.non_field_errors.0|escapejs }}", "error"); {% endif %}
            {% if prestador_form.non_field_errors %} criarToast("{{ prestador_form.non_field_errors.0|escapejs }}", "error"); {% endif %}
        });
    </script>
{% endblock %}