{% extends 'core//base/base_auth.html' %}
{% load static %}

{% block title %}Cadastro de Prestador{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cadastro_prestador.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="main-container-auth">
    <div class="container-cadastro-prestador">
        
        <div class="cabecalho-cadastro">
            <a href="#" class="botao-voltar"> 
                <img src="{% static 'img/arrow-left.svg' %}" alt="Voltar">
            </a>
        </div>
    
        <div class="logo">
            <img class="logo-icon" src="{% static 'img/lotus.svg' %}" alt="Logo Wonder">
            <h1 class="logo-name">WONDER</h1>
        </div>
    
        <form class="formulario-cadastro-prestador">
            <div class="grupo-input">
                <input type="text" id="nome" name="nome" class="input-campo" placeholder="Nome completo" required>
            </div>
            
            <div class="grupo-input">
                <input type="text" id="nome_estabelecimento" name="nome_estabelecimento" class="input-campo" placeholder="Nome do seu estabelecimento" required>
            </div>
    
            <div class="grupo-input">
                <input type="email" id="email" name="email" class="input-campo" placeholder="Email" required>
            </div>
    
        
            <div class="grupo-input grupo-input-select">
                <select id="cidade" name="cidade" class="input-campo" required>
                    <option value="" disabled selected>Cidade de atendimento</option>
                    <option value="pdf">Pau dos Ferros / RN</option>
                    <option value="mossoro">Mossoró / RN</option>
                    <option value="serrinha">Serrinha dos Pintos / RN</option>
        
                </select>
                <img src="{% static 'img/seta-pra-baixo-cinza.svg' %}" class="select-icone" alt="">
            </div>
    
           
            <div class="grupo-input grupo-input-select">
                <select id="categoria" name="categoria" class="input-campo" required>
                    <option value="" disabled selected>Selecione a categoria</option>
                    <option value="beleza">Beleza</option>
                    <option value="saude">Saúde</option>
                    <option value="alimentacao">Alimentação</option>
                 
                </select>
                <img src="{% static 'img/seta-pra-baixo-cinza.svg' %}" class="select-icone" alt="">
            </div>
    
            <div class="grupo-input">
                <input type="tel" id="telefone" name="telefone" class="input-campo" placeholder="Telefone" required>
            </div>
    
            <div class="grupo-input">
                <input type="text" id="documento" name="documento" class="input-campo" placeholder="CPF/CNPJ" required>
            </div>
    
            <div class="grupo-input input-com-icone">
                <input type="password" id="senha" name="senha" class="input-campo" placeholder="Senha" required>
                <img src="{% static 'img/ant-design_eye-invisible-outlined.svg' %}" class="icone-input" alt="Mostrar/Ocultar Senha">
            </div>
    
            <div class="grupo-input input-com-icone">
                <input type="password" id="confirmar_senha" name="confirmar_senha" class="input-campo" placeholder="Confirmar senha" required>
                <img src="{% static 'img/ant-design_eye-invisible-outlined.svg' %}" class="icone-input" alt="Mostrar/Ocultar Senha">
            </div>
    
            <button type="submit" class="botao-prosseguir">
                Prosseguir
                <img src="{% static 'img/carbon_login.svg' %}" class="botao-prosseguir__icone" alt="">
            </button>
        </form>
    </div>
</main>
{% endblock %}