{% extends 'core/base/base_auth.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock extra_css %}

{% block content %}
<main class="container-login">

    <div class="logo">
        <img class="logo-icon" src="{% static 'img/icones/icon_roxo/lotus.svg' %}" alt="Logo Wonder">
        <h1 class="logo-name">WONDER</h1>
    </div>

    <form class="formulario-login" method="POST" novalidate>
        {% csrf_token %}

        <div class="grupo-input">
            {{ form.username }}
            {% if form.username.errors %}
                <span class="mensagem-erro">{{ form.username.errors.0 }}</span>
            {% endif %}
        </div>

        <div class="grupo-input input-com-icone">
            {{ form.password }}
            <img 
                src="https://img.icons8.com/fluency-systems-regular/48/visible--v1.png" 
                class="icone-input" 
                onclick="togglePassword(this)"
                data-eye-open="https://img.icons8.com/fluency-systems-regular/48/visible--v1.png"
                data-eye-closed="https://img.icons8.com/fluency-systems-regular/48/invisible.png"
                alt="Mostrar senha"
            >
            {% if form.password.errors %}
                <span class="mensagem-erro">{{ form.password.errors.0 }}</span>
            {% endif %}
        </div>

        <button type="submit" class="botao-entrar">
            <img src="{% static 'img/icones/icon_geral/carbon_login.svg' %}" alt="Ícone de login" class="botao-entrar__icone">
            <span>Entrar</span>
        </button>
    </form>

    <hr class="divisor">

    <p class="link-cadastro">
        Não tem uma conta? <a href="{% url 'opcoes-cadastro' %}">Cadastre-se</a>
    </p>

</main>

<script>
    function togglePassword(icon) {
        const container = icon.parentElement;
        const input = container.querySelector('input');
        
        const eyeOpen = icon.getAttribute('data-eye-open');
        const eyeClosed = icon.getAttribute('data-eye-closed');
        
        if (input.type === "password") {
            input.type = "text";
            icon.src = eyeClosed; 
            icon.style.opacity = "1"; 
        } else {
            input.type = "password";
            icon.src = eyeOpen;
            icon.style.opacity = "0.6";
        }
    }
</script>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/auth_ux.js' %}"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {% if form.non_field_errors %}
                criarToast("{{ form.non_field_errors.0|escapejs }}", "error");
            {% endif %}
        });
    </script>
{% endblock %}