.home-content {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

/* --- Botão de Sair --- */

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    border: 1px solid #FF5A5A;
    color: #FF5A5A;
    border-radius: 12px;
    padding: 0.3rem 0.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease;
}

.logout-button img {
    width: 20px;
    height: 20px;
    filter: invert(49%) sepia(85%) saturate(1478%) hue-rotate(331deg) brightness(101%) contrast(101%);
}

.logout-button:hover {
    background-color: #FF5A5A;
    color: #fff;
}

.logout-button:hover img {
    filter: brightness(0) invert(1);
}

/* TABS DE NAVEGAÇÃO (SOLICITAÇÕES / CATEGORIAS) */

.nav-tabs-container {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    align-items: center;
}

.nav-tabs-container a {
    text-decoration: none;
}

.option-tab {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    padding: 12px 35px;
    height: 50px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 4px 8px rgba(128, 0, 255, 0.2);
    border-radius: 0.3rem;
}

.option-tab.active {
    background-color: #430b7a;
    color: #ffffff;
    border: 1px solid #b4b4b433;
}

.option-tab.inactive {
    background-color: #ffffff;
    color: #430b7a;
    border: 1px solid #00000033;
    border-left: none;
}

/* CARDS DE RESULTADO */

.results-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 1rem;
}

.result-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #F9F9F9;
    border-radius: 0.3125rem;
    min-height: 4.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.result-card:hover {
    background-color: #efefef;
}

.card-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-details img {
    width: 3.125rem;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.card-meta {
    display: flex;
    font-size: 0.75rem;
    color: #8000ff9a;
    flex-direction: column;
}

.time-value {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #5f5a5a;
    font-size: 0.75rem;
}

.card-status {
    padding: 0.5rem 0.25rem;
}

.block-day-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.botao-vermelho {
    color: #c82333;
    border: 0.5px solid #E2E2E2;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    min-width: 5.5rem;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-vermelho:hover {
    background-color: #c82333;
    color: white;
}

.botao-vermelho:active {
    background-color: #bd2130;
    transform: translateY(1px);
}

.botao-visualizar {
    color: #2A6CCF;
    border: 0.5px solid #E2E2E2;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    min-width: 5.5rem;
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-visualizar:hover {
    background-color: #255aaa;
    color: white;
}

.botao-visualizar:active {
    background-color: #2A6CCF;
    transform: translateY(1px);
}

/* TELA DETALHES SOLICITAÇÕES */

.app-navbar {
    display: none;
    box-shadow: none;
}

.header-logo a{
    text-decoration: none;
}

.profile-card {
    background-color: var(--bg-white);
    border-radius: 16px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
}

.profile-avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 16px;
    border: 2px solid var(--border-light);
}

.user-info-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
}

.text-tag {
    color: #5D14A6;
}

.info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid var(--border-light);
    border-radius: 12px;
    padding: 16px;
    width: 100%;
}

.info-label-group {
    display: flex;
    align-items: center;
    gap: 12px;
}

.info-icon {    
    width: 20px;
    height: 20px;
}

.info-label {
    font-weight: 600;
    color: var(--text-dark);
    font-size: 16px;
}

.info-value {
    font-size: 14px;
    color: var(--text-light);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%;
}

.block-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
}

.botao-recusar {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-recusar:hover {
    background-color: #c82333;
}

.botao-recusar:active {
    background-color: #bd2130;
    transform: translateY(1px);
}

.botao-aceitar {
    background-color: #46c20d;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.botao-aceitar:hover {
    background-color: #3ca10d;
}

.botao-aceitar:active {
    background-color: #5fda26;
    transform: translateY(1px);
}

/* Tela Categorias */

.block-text-tag {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.text-tag-category {
    color: #fff;
}

.nova-categoria-button {
    display: flex;
    background-color: #5D14A6;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    gap: 0.5rem;
    border-radius: 0.8rem;
    font-size: 0.8rem;
}

.nova-categoria-button:hover {
    background-color: #430b7a;
}

.nova-categoria-button:active {
    background-color: #5D14A6;
    transform: translateY(1px);
}

.nova-categoria-button img {
    width: 0.8rem;
}

/* RESPONSIVIDADE (WEB / DESKTOP) */

@media (min-width: 48rem) {

    .main-content {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }

    .option-tab {
        min-width: 300px;
    }

    .botao-vermelho,
    .botao-visualizar {
        min-width: 6.5rem;
        font-size: 0.8rem;
    }
}