:root {
  font-size: 1rem;
  --color-primary: #8000ff;
  --color-white: #ffffff;
  --header-height: 3.5rem;
  --navbar-height: 4.5rem;
  --desktop-padding: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}



.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: var(--color-white);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05); 
  z-index: 100;
}

.main-content {
  flex-grow: 1;
  padding-top: var(--header-height);
  padding-bottom: var(--navbar-height);
  overflow-y: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 1rem;
}

.app-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--color-white);
  box-shadow: 0 -0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  z-index: 100;
}

/* HEADER */

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}

.logo-icon {
  font-size: 1.5rem;
  line-height: 0;
  color: var(--color-primary);
}

.logo-name {
  font-family: "Gruppo", Helvetica;
  font-weight: 400;
  color: var(--color-primary);
  font-size: 1rem;
}

.header-location {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  cursor: pointer;
}

.location-text {
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--color-primary);
  font-size: 0.8rem;
}

.location-icon-wrapper {
  font-size: 0.6rem;
  line-height: 0;
  color: var(--color-primary);
}

/* NAVBAR FOOTER */

.nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  height: 100%;
}

.nav-item {
  flex: 1; 
  list-style: none; 
  cursor: pointer; 
  color: #b0b0b0; 
  transition: color 0.2s;
}

.nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.5rem 0.75rem;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.nav-item--active {
  color: var(--color-primary);
}

.nav-icon {
  font-size: 1.25rem;
  line-height: 1;
}

.nav-text {
  font-size: 0.625rem;
  font-weight: 600;
  white-space: nowrap;
}


/* MEDIA WEB */

@media (min-width: 48rem) { 
  .main-content {
    padding-left: var(--desktop-padding);
    padding-right: var(--desktop-padding);
    max-width: 85rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .app-header {
    padding-left: calc(1rem + var(--desktop-padding));
    padding-right: calc(1rem + var(--desktop-padding));
  }
  
  .app-navbar {
    justify-content: center;
  }
  
  .nav-list {
    max-width: 85rem;
    width: 100%;
    padding: 0 var(--desktop-padding);
  }
}