/* CONFIGURAÇÕES GERAIS E ÍCONES */

.icon-sm {
    width: 1.25rem;
    height: 1.25rem;
}
.icon-lg {
    width: 1.5rem;
    height: 1.5rem;
    color: #505050;
}

/* LAYOUT DA PÁGINA DE BUSCA */
.search-page-content {
    padding: 0 1rem;
}

/* BARRA DE BUSCA E NAVEGAÇÃO */

.search-bar-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.625rem;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.search-input-group {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 0.5rem;
    height: 2.5rem;
    padding: 0 1em;
    position: relative;
}

.search-icon {
    color: #505050;
    margin-right: 0.625rem;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    font-family: "Roboto", Helvetica;
    font-size: 0.75rem;
    color: #505050;
}

.search-input::placeholder {
    color: #505050;
}

/* LINHA DE FILTROS */

.filters-line {
    font-family: "Source Sans Pro", Helvetica;
    font-weight: 400;
    font-size: 0.625rem;
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 1rem;
}

.filter-label {
    color: #000000;
}

.filter-current {
    color: #8000ff;
    font-weight: 600;
}

/* LISTA E CARDS DE RESULTADO */

.results-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 1rem;
}

.result-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #F9F9F9;
    border-radius: 0.3125rem;
    min-height: 4.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.result-card:hover {
    background-color: #efefef;
}

.card-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-title {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
}

.card-meta {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    color: #505050;
}

.rating-info {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.star-icon {
    color: #ffd95e;
    font-size: 0.7rem;
}

.rating-value, .schedule {
    font-family: "Source Sans Pro", Helvetica;
    font-size: 0.6rem;
    white-space: nowrap;
}

.separator {
    margin: 0 0.4rem;
    color: #505050;
    font-size: 0.5rem;
    line-height: 0.5rem;
}

.card-status {
    padding: 0.5rem 0.25rem;
}

.status-available .status-text {
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #158e19;
    font-size: 0.6rem;
    white-space: nowrap;
}

/* RESPONSIVIDADE (DESKTOP) */

@media (min-width: 48rem) {
    .search-page-content {
        padding: 0; 
    }
}
